@import '../../theme.scss';

.button {
  position: relative;
  height: 4.4vw;
  width: 13.6vw;
  border-radius: $border-radius-common;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  z-index: $z-index-9;

  &:hover {
    background-color: $green;
  }
}