@import '../../theme.scss';

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.text {
  display: flex;
  width: 100%;
  height: 115px;
  border-radius: $border-radius-common;
  background-color: $dark-grey;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 20px;
  font-size: $text-size;

  &:disabled {
    @include cursorSmall;

    .title {
      color: pink;
    }
  }
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
}

.active {
  color: $white;
  border: 1px solid $white;
}

.loader {
  position: absolute;
  top: 20%;
  left: 20%;
}
