@import '../../theme.scss';

.cover {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: $border-radius-common;
  background-color: $green;
  background-image: url('../../pics/store.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.captions {
  @include smallText;
  padding: 20px;
}

.title {
  @include captionText;
  position: absolute;
  bottom: 20px;
  left: 20px
}

.items {
  position: absolute;
  top: 30%;
  left: 15%;
  color: $grey;
}
