@import '../../theme.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 90px;
  margin: 0 1.4%;
  border-bottom: 1px solid $grey;
  z-index: 99;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $dark;
  background-color: $dark-blur;
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  z-index: 100;
}

.logoGroup {
  padding: 25px 40px;
  z-index: 101;
}

.stamp {
  margin-left: 40px;
  margin-right: 5px;
}

.stampText {
  @include smallText;
  padding: 3px 8px 1px;
  box-sizing: border-box;
  border: 1px solid $grey;
  border-radius: $border-radius-rounded;
  color: $grey;

  &_white {
    color: $white;
  }
}

.anchorGroup {
  padding: 25px 40px;
  text-transform: uppercase;
  z-index: 101;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 7px;
    color: $grey;

    &:hover {
      color: $white;
    }
  }
}

.whiteIcon {
  path {
    fill: $white
  }
}

.transformedIcon {
  transform: rotate(45deg);

  path {
    fill: $white
  }
}
