@import '../../theme.scss';

@mixin grow {
  transition: width 0.7s ease-in-out;
  transition: height 0.7s ease-in-out;
}

.works {
  padding: 40px 32px;
  overflow: hidden;
  margin-bottom: 10%;
}

.arrows {
  svg {
    @include grow();

    &:last-child {
      transform: rotate(180deg);
    }

    &:hover {
      width: 110%;
      height: 110%;
      @include grow();
    }
  }
}

.carousel {
  display: flex;
  width: 100%;
  gap: 0.4%;
  padding-bottom: 0.4%;
  overflow-x: scroll;
  @include cursorBig;
  @include styledScroll;
}

.card {
  width: 30vw;
  height: 25vw;
  border-radius: $border-radius-common;
  flex-shrink: 0;
}

.card:hover {
  .caption {
    background-color: $white;
  }
}

.image {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 66%;
  width: 100%;
  border-top-left-radius: $border-radius-common;
  border-top-right-radius: $border-radius-common;
}

.caption {
  display: flex;
  background-color: $grey;
  height: 34%;
  width: 100%;
  border-bottom-left-radius: $border-radius-common;
  border-bottom-right-radius: $border-radius-common;
  font-size: $text-size-medium;
  padding: 12px 24px;
  box-sizing: border-box;
}
