@import '../../theme.scss';

@keyframes diagonal {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(100%, -100%);
  }

  50% {
    transform: scale(0)
  }

  75% {
    transform: translate(-100%, 100%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.arrowLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $grey;
  gap: 7px;
  text-transform: uppercase;

  &:hover {
    color: $white;

    path {
      fill: $white
    }
  }
}

.iconWrap {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden
}

.icon {
  animation: diagonal 0.4s ease-in
}
