@import '../../theme.scss';

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark;
  color: $white;
  z-index: 10000;
  border-radius: $border-radius-common;
  padding: 8px;
  animation: 700ms ease-out forwards slide-up;
  overflow: hidden;

  svg {
    color: $green;
  }
}

.label {
  padding: 8px 16px;
  line-height: 120%;
}