@import '../../theme.scss';

.main {
  position: relative;
  font-size: 98px;
  line-height: 90px;
  margin: 0 1.4%;
  padding: 5% 0;
  border-bottom: 1px solid $grey;

  &__grey {
    position: relative;
    margin-left: 30%;
    color: $grey;
    z-index: $z-index-9;
  }

  &__white {
    position: relative;
    margin-left: 40%;
    color: $white;
    z-index: $z-index-9;
  }
}

.picture {
  position: absolute;
  width: 40%;
  height: 100%;
  background-image: url('../../pics/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.hireMe {
  margin-left: 50%;
}
