@import './theme.scss';

.app {
  display: flex;
  flex-direction: column;
  font-family: Power Grotesk Light;
  letter-spacing: 0.05em;
  @include cursorSmall;

  a {
    @include cursorSmall;
  }

  button {
    @include cursorBig;
  }
}
