$dark: #0C0C0C;
$dark-blur: #0C0C0C4D;
$dark-grey: #818181;
$green: #1BF817;
$grey: #8E8E8E;
$grey-medium: #D9D9D9;
$matte-dark: #171717;
$red: #D40000;
$white: #FFFFFF;

$z-index-9: 9;
$z-index-999: 999;

$text-size-small: 1.25vw;
$text-size: 1.4vw;
$text-size-medium: 2vw;
$text-size-large: 6.8vw;

$border-radius-common: 16px;
$border-radius-rounded: 100px;

@mixin smallText {
  font-size: $text-size-small;
  line-height: 1.4vw;
  text-transform: uppercase;
}

@mixin captionText {
  font-size: $text-size-large;
  line-height: 6.25vw;
}

@mixin cursorSmall {
  cursor: url('./pics/cursor.png') 12 12, default;
}

@mixin cursorBig {
  cursor: url('./pics/cursor-big.png') 24 24, pointer;
}

@mixin styledScroll {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 0.3vw;
    width: 0.3vw;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: $border-radius-common;
    border: none;
  }
}
