$dark: #0C0C0C;
$dark-blur: #0C0C0C4D;
$dark-grey: #818181;
$green: #1BF817;
$grey: #8E8E8E;
$grey-medium: #D9D9D9;
$matte-dark: #171717;
$red: #D40000;
$white: #FFFFFF;

$z-index-9: 9;
$z-index-999: 999;
